@import 'variables';

//main-homepage
.background{
	overflow-x: hidden;
	margin-bottom: 2%;
	margin-top: -10%;
	object{
	position: relative;
	right: 10%;
	z-index: -100;	

	}
}




.ikona-preklik{
	transform-origin:left top;
	pointer-events: none;
   }

.interakcne-tlacidlo{
	h5.font-weight-bold{
		color: black !important;
		font-weight: 900 !important;
		font-size: 2em !important;
	}
	.arrow{
		height: 14px;
	}
    &:hover{
		transition: all 0.6s;
		background: $color-menu-hover-active;
		-webkit-transition: all 0.6s;
		-moz-transition: all 0.6s;
		-ms-transition: all 0.6s;
		-o-transition: all 0.6s;
		object{
			filter: brightness(0%) invert(1);
			-webkit-filter: brightness(0%) invert(1);
		}

		h3,h4,h5,p{
			color: $color-text-footer;
		}

		.animation-arrow {
			filter: brightness(0%) invert(1);
			-webkit-filter: brightness(0%) invert(1);
			transition: 0.6s;
			transform:translateX(30px);
			-webkit-transform:translateX(30px);
			-moz-transform:translateX(30px);
			-ms-transform:translateX(30px);
			-o-transform:translateX(30px);
			-webkit-transition: 0.6s;
			-moz-transition: 0.6s;
			-ms-transition: 0.6s;
			-o-transition: 0.6s;
		}

	}
}



.interakcne-tlacidlo-ethical{
	background-color: $color-menu-hover-active;
	&:hover{
		transition: 0.4s;
		background-color: $color-text-footer;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-ms-transition: 0.4s;
		-o-transition: 0.4s;
}
}


.ethical {
    -webkit-filter: brightness(0%) invert(2);
	filter:brightness(0%) invert(2);
	
	&:hover{
	-webkit-filter:brightness(100%) invert(0.1) !important;
	filter:brightness(100%) invert(0.1) !important;
	}
}


.hidden{display:none!important;}



.pokacovanie{
	p{
		font-size: 1vw;
	}
	a p{
		font-size: 0.8vw;
	}
    position: absolute !important;
    bottom: 0 !important;
	left: 0 !important;
    width: 100%;
}
.logoaspen{
	position: relative;
	bottom: 0.5em;
	width: 45px;
	height: auto;	
}

.border-red{
	border:  1px solid $color-menu-hover-active;
	p{
		color: $color-menu-hover-active;
	}
	&:hover{
		background-color: $color-menu-hover-active;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
}
}
.border-black{
	border:  1px solid $color-bacground-footer;
	p{
		color: $color-bacground-footer;
	}
	&:hover{
		background-color: $color-bacground-footer;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}
}

.border-brown{
	border:  1px solid $color-brown;
	p{
		color: $color-brown;
	}
	&:hover{
		background-color: $color-brown;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}
}
.border-green{
	border:  1px solid $color-green;
	p{
		color: $color-green;
	}
	&:hover{
		background-color: $color-green;
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
	}
}
