@import 'variables';

//media screen
@media (max-width: 991.98px) {



	.border-ramcek{
		border: 1px solid lighten($color-menu, 20%);
		margin-bottom: 20px;
		.p-5{
			padding: 25px !important;

		}
	}
	.back-to-top{
		visibility: hidden;
	}

}

