//variables

//farby 
$color-brown:#a97d59; //farba certicicates & awards
$color-menu:#b2b2b2;
$color-green:#6b9243;
$color-menu-hover-active: #d02b2c;//farba pisma na menu a pelementoch s odkazom
$color-text-footer:#ffffff;//farba pisma vo footeri
$color-bacground-footer:#1c1c1c;//background footeru

//font-size
$font-size-h2:22px;
$font-size-footer:15px;
$font-size-menu:1vw;
$font-size-home-section:13px;
$font-size:16px;
$font-weight: 600;
$font-weight-text:400;